
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.user-card{
    height: fit-content;
    width:fit-content;
    padding: 1em;
    font-family: 'Black Ops One', cursive;
  img {
    border-radius: 100%;
    height: 150px;
    width: 150px;
  }
  h4{
    text-align: center;
  }

}


