@keyframes slide {
  0% {
    background-position: top left;
  }
  100% {
    background-position: bottom right;
  }
}

.room-page-wrapper {
  height: 100vh;
  width: 100%;
  display: grid;
  align-content: flex-start;
  gap: 1em;
  background: rgba(0, 0, 255, 0.242);
  background-size: auto;
  background-position: top left;
  animation: slide 30s linear infinite;
}
.cat-count {
  margin: auto;
  margin-top: 1em;
  text-align: center;
  background-color: white;
  width: fit-content;
  padding: 0 1em 0 1em;
}
.users-in-room {
  margin: auto;
  border-radius: 2%;
  width: 80%;
  height: 80vh;
  overflow-y: auto;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-content: flex-start;
  background-color: aliceblue;
}
